#bot{
    display: flex;
    background-color: #CECECE;
    width: 100%;
    height: 70px;
    align-items: center;
    padding-left: 5px;
    font-size: 25px;
    box-shadow: 1px 1px 5px black;
   
}

nav {
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    margin: -7.3px;
}

nav h1 {
    margin: 0;
    margin-left: 1rem;
    font-weight: 700;
    font-size: 40px;
    line-height: 2.34375em;
    background: linear-gradient(90deg, #F28853 -5.98%, #D26A74 83.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

nav a {
    text-decoration: none;
}


html {
    font-family: 'Poppins', sans-serif;
    color: #DF8535;
    font-weight: 650;
    font-size: 34px;
}

#title{
    color: black;
    font-size: 35px;
    font-weight: 650;
    margin-left: 55px;
    margin-bottom: 30px;
}

#LandT{
    margin-top: 50px;
}
#link{
    font-size: 20px;
    color: #528DE6;
    font-weight: 400;
    margin-left: 55px;
    width: fit-content;
    height: fit-content;
}
#link:hover{
color: #011AF9;

}
#title{
    color: black;
    font-size: 45px;
    font-weight: 650;
    margin-left: 55px;
    margin-bottom: 5px;
}


.container {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;
    margin: 0 55px;
}


#box1{
    
    color: black;
    background-color: #e3e3e3;
    width: 510px;
    box-shadow: 2px 2px 10px rgb(226, 226, 226);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    transition: transfrom 0.6s ease;
   
}

#title1{
   font-size: 15px;
   margin-left: 10px;
   margin-bottom: 30px;
   line-height: 20px;

   
}
#des1{
color: #626365;
line-height: 20px;
font-size: 18px;
margin-left: 10px;
font-weight: 400;
}
#gr1{
color: #33C133;
line-height: 20px;
font-size: 18px;
margin-left: 10px;
}
#gray {
    color: #626365;
    line-height: 20px;
    font-size: 18px;
    margin-left: 10px;
    font-weight: 400;
}
#text1{
color: #626365;
line-height: 25px;
font-size: 18px;
margin-left: 10px;
font-weight: 400;
width: 425px;
}
#but1{
    color: white;
    background-color: #0077FF;   
    width: 290px;
    height: 40px;
    display: inline-flex;
    text-align: start;
    padding: 7px;
    font-size: 18px;
    align-items: center;
    font-weight: 600;
    margin-top: 10px;
    border: white;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
}
#but1:hover{
    background-color: #045dc2;  
}
.button__text, .button__icon{
    display: inline-flex;
    align-items: center;
    height: 100%;
}
.button__icon{
font-size: 25px;
padding-left: 150px;
}

#box2{

    color: black;
    background-color: #e3e3e3;
    width: 510px;
    box-shadow: 2px 2px 10px rgb(226, 226, 226);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    transition: transfrom 0.6s ease;
}

    



#title2{
   font-size: 22px;
   margin-left: 10px;
   margin-bottom: 30px;
   line-height: 20px;
   
}
#des2{
color: #626365;
line-height: 20px;
font-size: 18px;
margin-left: 10px;
font-weight: 400;
}
#gr2{
color: #33C133;
line-height: 18px;
font-size: 20px;
margin-left: 10px;
}
#text2{
color: #626365;
line-height: 25px;
font-size: 18px;
margin-left: 10px;
font-weight: 400;
width: 425px;
}
 #but2{
    color: white;
    background-color: #0077FF;   
    width: 290px;
    height: 40px;
    display: inline-flex;
    text-align: start;
    padding: 7px;
    font-size: 18px;
    align-items: center;
    font-weight: 600;
    margin-top: 10px;
    border: white;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
}
#but2:hover{
    background-color: #045dc2;  
}
.button__text, .button__icon{
    display: inline-flex;
    align-items: center;
    height: 100%;
}
.button__icon{
font-size: 25px;
padding-left: 150px;
}
 
 
 #box3{
    color: black;
    background-color: #CECECE;
    width: 510px;
    margin-left: 100px;
    box-shadow: 2px 2px 10px black;
    margin-top: 35px;
    
  
}

    
    

#title3{
    font-size: 22px;
    margin-left: 10px;
    margin-bottom: 30px;
    line-height: 20px;
    padding-top: 2px;
    
 }
 #des3{
    color: #626365;
    line-height: 20px;
    font-size: 18px;
    margin-left: 10px;
    font-weight: 400;
    }
 #gr3{
 color: #33C133;
 line-height: 20px;
 font-size: 18px;
 margin-left: 10px;
 }
 #text3{
 color: #626365;
 line-height: 25px;
 font-size: 18px;
 margin-left: 10px;
 font-weight: 400;
 width: 425px;
 }
 #but3{
    color: white;
    background-color: #0077FF;   
    width: 290px;
    height: 40px;
    display: inline-flex;
    text-align: start;
    padding: 7px;
    font-size: 18px;
    align-items: center;
    font-weight: 600;
    margin-top: 10px;
    border: white;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
}
#but3:hover{
    background-color: #045dc2;  
}
.button__text, .button__icon{
    display: inline-flex;
    align-items: center;
    height: 100%;
}
.button__icon{
font-size: 25px;
padding-left: 150px;
}
 
 
 
 



