html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

body {
    background: linear-gradient(180deg, #F18752 0%, #C75922 100%);
    color: white;
    
}

.container {
   margin-top: 12%;
}

button, a {
    margin-top: 3rem;
}

span {
    display: inline-flex;
    justify-content: end;
    width: 6rem;
}

h1 {
    font-weight: 700;
    line-height: 60px;
    font-size: 40px;
}