html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F18752;
    color: white;
}

.container {
   margin-top: 12%;
}

button, a {
    margin-top: 3rem;
}

span {
    display: inline-flex;
    justify-content: end;
    width: 6rem;
}

h1 {
    font-weight: 700;
    line-height: 60px;
    font-size: 40px;
}