html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: orange;


.container {
   margin-top: 15%;
   
}

button, a {
    margin-top: 3rem;
}

span {
    display: inline-flex;
    justify-content: end;
    width: 6rem;

}