html {
    font-family: 'Poppins', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

button {
    
    width: 275px;
    height: 60px;
    border-radius: 10px;
    border-color: #D0CECE;
    border-style: solid;
    padding: 15px;
    font-weight: 400;
    margin: 0.5vh;
}

#restart {
    margin-top: 20px;
    margin-left: 10px;
    color: blue;
}

#restart:hover {
    cursor: pointer;
}

h2 {
    max-width: 700px;
}

   

button:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgb(192, 192, 192);
    transition-duration: 0.4s;
    
}

a {
    text-decoration: none;
}

.box {
    display: flex;
    
}