html {
    font-family: 'Poppins', sans-serif;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
   

}

button {
    
    width: 275px;
    height: 60px;
    border-radius: 10px;
    border-color: #D0CECE;
    border-style: solid;
    padding: 15px;
    font-weight: 400;
    margin: 1.45vh;
}

   
   


button:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgb(192, 192, 192);
    transition-duration: 0.4s;
    
}

