html {
    font-family: 'Poppins', sans-serif;
    color: #DF8535;
    font-weight: 600;
    font-size: 34px;
}
#container{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#header {
    
height: fit-content;
width: fit-content;
position: relative; bottom: 150px;
line-height: 25px;


}
#break1 {
   text-align: center;
}
#bo{
    font-size: 20px;
}